---
import BaseLayout from "../layout/BaseLayout.astro";
import ProductItem from "../components/ProductItem.astro";
import { getProducts } from "../services/products";

const products = await getProducts();
---

<BaseLayout activeHref={"/products"}>
  <div slot="main" class="layout">
    {
      products.map((product) => (
        <ProductItem
          id={product.id}
          images={product.previewImages}
          title={product.title}
          price={product.price}
          sizes={product.product_sizes.map((productSize) => productSize.size )}
          originalPrice={product.originalPrice}
          discountPercantage={product.discountPercentage}
        />
      ))
    }
  </div>
</BaseLayout>

<style lang="scss">
  main {
    padding: 0px;
  }
  @import "../styles/_variables.scss";

  @media (min-width: $medium-breakpoint) {
    .layout {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $mediumlarge-breakpoint) {
    .layout {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding: 10px;
      box-sizing: border-box;
    }
  }
</style>


<!--  
//Example usage of db variable

db.query.products.findMany({
  with: { mockProducts: true,mockPreviewImages: true, mockSizes: true },
});

 -->