---
import BaseLayout from "../layout/BaseLayout.astro";
import ProductItem from "../components/ProductItem.astro";
import { getProducts } from "../services/products";

const products = getProducts();
---

<BaseLayout activeHref={"/products"}>
  <div slot="main" class="layout">
    {
      products.map((product) => (
        <ProductItem 
          images={product.preview}
          title={product.title}
          price={product.price}
          sizes={product.sizes}
          originalPrice={product.originalPrice}
          discountPercantage={product.discountPercentage}
        />
      ))
    }
  </div>
</BaseLayout>

<style lang="scss">
   main{
    padding: 0px;
  }
  @import "../styles/_variables.scss";

  @media (min-width: $medium-breakpoint) {
    .layout {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $mediumlarge-breakpoint) {
    .layout {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding: 10px;
      box-sizing: border-box;
    }
  }
</style>
